body {
    background-color: aliceblue;
}

#images {
    display: block;
    margin: auto;
    width: 30%;
}

b {
    text-align: center;
    font-size: 20px;
    margin: 0% 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link, a:visited, a:after, a:active {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;

}

#detailsbtn {
    display: block;
    margin: 0% 5%;
    padding: 3px;
    float:right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.6rem;
    border: solid 2px black;
    background-color: aliceblue;
}

#detailsbtn:hover {
    transition: 0.5s;
    background-color: lightblue;
}

hr {
    border-top: solid 1px;
}

@media screen and (max-width: 800px) {
    #images {
        width: 90%;
    }
}